* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #eef2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 700px;
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #188eb9;
  font-size: 30px;
  border-bottom: 2px solid #858788;
  padding-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fafafa;
  transition: 0.3s;
  font-size: 15px;
  outline: none;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid #d9ff00;
}

.radio-group,
.checkbox-group {
  margin-top: 8px;
}

.radio-group input,
.checkbox-group input {
  margin-right: 5px;
  margin-left: 10px;
}

.radio-group label,
.checkbox-group label {
  display: inline;
  font-weight: normal;
  margin-right: 15px;
}

.error {
  display: block;
  color: red;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 5px;
}

.errorBorder {
  border: 2px solid red !important;
}

.successBorder {
  border: 2px solid green !important;
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background: goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}
